
@{
    ViewBag.Title = "LoginToner";
}

    <div class="hold-transition login-page">

        <div class="login-box">
            <div class="register-logo">
                <img src="/images/logo.png" style="  width: 200px;">
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <h1 class="text-center">Modulo Toner</h1>

                    <form action="/Cuenta/LoginToner" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-error" })

                        <div class="input-group mb-3">

                            <input type="email" class="form-control" name="correo" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control"  name="clave" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <button type="submit" class="btn btn-block btn-danger">INGRESAR</button>

                        </div>

                        <div class="row">
                            <a href="/LOG/Registo/Toner" class="btn btn-block btn-danger"> Registrarse</a>


                        </div>
                    </form>


                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="#">Olvide Mi Contrasenha</a>
                    </p>

                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>