@model IEnumerable<DSJ.Models.TblMenu>

@{
    ViewBag.Title = "Index";
}

<style>
    .pnav {
        color: white;
    }

    .actives {
        background-color: #e01545;
        color: white;
    }
</style>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/images/logo.png" style="  width: 200px;">

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">

            <div class="info">
                <a href="#" class="d-block" style="color: #e01545 !important ;">Bienvenido</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @foreach (var item in Model)
                {

                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link actives">
                            <i class="@item.Icono"></i>
                            <p class="pnav">
                                @item.Nombre

                                <i class="fas fa-angle-left right pnav"></i>

                            </p>
                        </a>

                        @if (item.TblMenu1.Count > 0)
                        {

                            foreach (var sub in item.TblMenu1)
                            {
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        @Html.ActionLink(sub.Nombre, sub.Accion, sub.Controlador, new { @class = "nav-link" })
                                        <i class="far fa-circle nav-icon"></i>
                                    </li>
                                </ul>

                            }

                        }


                    </li>

                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

