@model DSJ.Models.TblEmpresa

@{
    ViewBag.Title = "Create";
}


<section style="padding:30px 20px" class="content">
    <div class="container-fluid">
        <h1>Abrir Nuevo Ticket</h1>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Informacion del ticket</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Titulo del Ticket</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <!-- textarea -->
                            <div class="form-group">
                                <label>Descripcion del Ticket</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                    </div>
     
                        <button type="submit" class="btn btn-success">ENVIAR TICKET </button>
                  

                </form>
            </div>
            <!-- /.card-body -->
        </div>

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Agregar Archivos </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
         
            <div class="card-body">
                <form>

                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success">GUARDAR ARCHIVOS  </button>
                </form>
                    </div>
                <!-- /.card-body -->

   
        </div>
    </div>
</section>