@model DSJ.Models.TblTicket

@{
    ViewBag.Title = "Details";
}

<section style="padding:30px 20px" class="content">
    <div class="container-fluid">
        <h1>Inventario</h1>
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Impresora</h3>

                        <p>lorem    lorem</p>
                        <p>Descripcion</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Agregar ticket <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-6">
                <!-- small card -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Impresora</h3>

                        <p>Descripcion</p>
                        <p>Descripcion</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-boxes"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Agregar ticket <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>



        </div>
    </div>
    </section>
